EmployeeWebServerAppSol/.idea/.idea.EmployeeWebServerAppSol/riderModule.iml
EmployeeWebServerAppSol/.idea/.idea.EmployeeWebServerAppSol/.idea/contentModel.xml
EmployeeWebServerAppSol/.idea/.idea.EmployeeWebServerAppSol/.idea/indexLayout.xml
EmployeeWebServerAppSol/.idea/.idea.EmployeeWebServerAppSol/.idea/modules.xml
EmployeeWebServerAppSol/.idea/.idea.EmployeeWebServerAppSol/.idea/vcs.xml
EmployeeWebServerAppSol/.idea/.idea.EmployeeWebServerAppSol/.idea/workspace.xml
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/BasicWebServerLib.dll
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/BasicWebServerLib.pdb
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/EmployeeWebServerApp.exe
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/EmployeeWebServerApp.pdb
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/LiteDB.dll
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/LiteDB.xml
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/Newtonsoft.Json.dll
EmployeeWebServerAppSol/EmployeeWebServerApp/bin/Debug/Newtonsoft.Json.xml
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/EmployeeWebServerApp.csproj.CopyComplete
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/EmployeeWebServerApp.csproj.CoreCompileInputs.cache
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/EmployeeWebServerApp.csproj.FileListAbsolute.txt
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/EmployeeWebServerApp.csprojAssemblyReference.cache
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/EmployeeWebServerApp.exe
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/EmployeeWebServerApp.pdb
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/EmployeeWebServerApp.csproj.CopyComplete
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/EmployeeWebServerApp.csproj.CoreCompileInputs.cache
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/EmployeeWebServerApp.csproj.FileListAbsolute.txt
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/EmployeeWebServerApp.csprojAssemblyReference.cache
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/EmployeeWebServerApp.exe
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/EmployeeWebServerApp.pdb
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EmployeeWebServerAppSol/EmployeeWebServerApp/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/.signature.p7s
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/LiteDB.4.1.4.nupkg
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.dll
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.xml
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.dll
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.xml
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.dll
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.xml
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.dll
EmployeeWebServerAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.xml
